h1 {
  font-size: 42px;
  font-family: 'Indie Flower', cursive;
}
h2{
  font-size: 22px;
}
#banner{
  font-size: 167;
}
.aboutP{
  padding: 10px;
  font-size: 95%;
}
a{
  font-size: 25px;
  padding: 25px;
}
/* nav bar removed for now */
/* nav ul li {
  float: left;
  padding: 5px;
} */

article {
background-color: aqua;
outline: 1px solid black;
margin-top: 25px;
margin-left: 20px;
padding: 5px;

}


.unorder {
  list-style-type: circle;
  padding: 20px;
}

table, th, td{
  border: 1px solid black;
  padding: 5px;
}
#bottom{
  border: 2px solid black;
  margin-top: 35px;
  
}
input{
  border: 2px solid green;
  background-color: aquamarine;
}
fieldset { 
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
  width: 80%;
}
#container{
  display: grid;
  grid-template-columns: 1;
  /* grid-template-rows: 20%; */
}

.item{
  outline: 5px solid purple;
  background-color: lightgreen;
  padding: 5px;
}
#salesBody{
  background-color: lightgreen;
  padding: 5px;
}

#storeLocations{
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-template-rows: 250px;
  margin-bottom: 20px;
  padding: 5px;

}
.locationP{
  font-size: 90%;
  max-width: 95%;
}
.merch{
  background-color: yellow;
  padding: 5px;
}
#merchP{
  font-size: 105%;
  max-width: 98%;
  padding: 5px;
}
.salmon{
  max-width: 49%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.chinook{
  max-width: 49%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.frosted-cookie{
  max-width: 24%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.shirt{
  max-width: 30%;
  padding: 10px;
}
.fish{
  margin-bottom: 35px;
}
.eventP{
  font-size: 125%;
  max-width: 98%;
  padding: 10px;
}